/* Estilos generales */

/* Estilos para el modo noche */


body.modo-noche {
  background-color: #000000;
  color: #ffff;
}

.modo-noche .titulo {
  border-color: #2a80b9;
}

.modo-noche section {
  border: #2a80b9 1px solid;
}




* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  padding: 10px;
}


.entrada {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el calendario */

.highlight-day {
  background-color: #0faf0f !important;
  background-image: none !important;
  font-weight: bold;
  border: #0faf0f solid 1px !important;
}

.ui-datepicker-week-end .ui-state-default {
  color: red !important;

}

button {
  cursor: pointer;
}

.titulo {
  border: #000000 1px solid;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
}

section {
  border: #000000 1px solid;
  margin-bottom: 10px;
  padding: 10px;
}

#seleccionDeHora {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#datepicker {
  display: grid;
  place-items: center;
  font-size: 16px
}

.guardado {
  display: grid;
  place-items: center;
}

.calendar {
  border: #000000 1px solid;
  margin: 10px;
  
}

.mensaje {
  border: #000000 1px solid;
  margin: 10px;
}

.calendario {
  display: grid;
  place-items: center;
}

.acumulado {
  text-align: center;
}

.recibo {
  display: flex;
  flex-wrap: wrap;
}

.btn-calcularTotal {
  margin: auto;
}

.recibo .montos,
.recibo .horas {
  display: grid;
  place-items: center;
  margin: 10px;
}

.recibo h4 {
  margin-top: 0;
}

.resultado {
  display: grid;
  place-items: center;
  margin: 10px;
}

footer{
  display: grid;
  place-items: center;
}

/* Estilos para dispositivos móviles */

@media (max-width: 600px) {
  .calendar {
    display: grid;
  place-items: center;
  }

  #seleccionDeHora {
    display: grid;
  place-items: center;
  }

  .recibo {
    display: grid;
  place-items: center;
  text-align: center;
  }
}

